.btn {
  display: block;
  text-transform: uppercase;
  border: none;
  width: 181px;
  height: 40px;
  color: #fff;
  background: #b3a3ff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 11px;
  cursor: pointer;
}