.btn {
  display: block;
  text-transform: uppercase;
  border: none;
  width: max-content;
  color: #fff;
  background: $color-link;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 11px;
  cursor: pointer;
  @media (max-width: 768px) {
    &__header {
      display: none;
    }
  }
}