.footer {
  margin-top: 500px;
}

.footer__wrap {
  display: flex;
  gap: 20px;
}

.footer__title {
  border-bottom: 1px solid #FFFFFF;
}

.footer__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color:  #FFFFFF;
}