.header {
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 33px;
  &__list {
    display: flex;
    margin-right: auto;
    @media (max-width: 768px) {
      display: none;
    }
    &-item {
      margin-right: 15px;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &-phone {
    margin-right: 24px;
  }
}