
/* стилизация хедера */

.header {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.header__list {
    display: flex;
    margin-right: auto;
}

.header__list-item {
    margin-right: 15px;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-phone,
.header__contact-search {
    margin-right: 24px;
}