@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/btn";
@import "_blocks/servisesListTitle";
@import "_blocks/container";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/
// Главная страница

// Страница каталога

// Страница блог

// Страница игрушки
.banner {
  background: #E0E7ED; 
  background-image: url('/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 143px 0 286px;
  &__title {
    @include title-text;
  }
}


.title__over {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
}

.servises {
  margin-top: 80px;
  &__title {
      font-family: $font-decorative;
      font-style: normal;
      font-weight: 900;
      font-size: 42px;
      line-height: 100%;
      color: #00559D;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &-item {
      display: flex;
      flex-direction: column;
      width: 280px;
      margin: 10px;
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 110px;
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      right: -110px;
      width: 570px;
      height: 480px;
      background: #008752;
    }
  }
  &-img {
    z-index: 1;
  }
}

.footer {
  background-color: #00559D;
}



.popup {
  position: fixed;
  background: rgba(125, 151, 218);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.popup-form {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 680px;
  padding: 50px;
  background-color: #499d00;
}

.open {
  display: block;
}


.fieldset-double {
  display: flex;
  justify-content: space-between;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
}

.field-inner__wrap {
  display: flex;
  flex-direction: column;
}

.section__text {
  display: flex;
  gap: 50px;
}

.sec__first {
  padding: 20px;
  background-color: #008752;
  width: 290px;
  height: 200px;
}

.sec__second {
  padding: 20px;
  background-color: #008752;
  width: 290px;
}

.sec__first-title {
  margin-top: -30px;
}

.awards__list {
  display: flex;
  margin-top: 156px;
  margin-bottom: 106px;
  justify-content: space-between;
}

/* popup  */

.popup-close {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  background-image: url(../icon/cross.png);
  background-repeat: no-repeat;
}