<footer class="footer">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__inner-wrap">
          <p class="footer__title">Subscribe to our social network 111</p>
          <ul>
            <li>
              <a href="#"><img src="./icon/facebook.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/twitter.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/gplus.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/in.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/youtube.svg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="footer__inner-wrap">
          <p class="footer__title">Subscribe to our social network</p>
          <ul>
            <li>
              <a href="#"><img src="./icon/facebook.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/twitter.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/gplus.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/in.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/youtube.svg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="footer__inner-wrap">
          <p class="footer__title">Subscribe to our social network</p>
          <ul>
            <li>
              <a href="#"><img src="./icon/facebook.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/twitter.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/gplus.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/in.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="./icon/youtube.svg" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>