<header class="container header">
  <a href="/index.html">
    <img src="/img/logo.svg" alt="logo" width="142" height="83" class="logo" />
  </a>
  <ul class="header__list">
    <li class="header__list-item"><a href="#">Catalog</a></li>
    <li class="header__list-item"><a href="#">Servises</a></li>
    <li class="header__list-item"><a href="#">Blog</a></li>
    <li class="header__list-item"><a href="about.html">About Us</a></li>
  </ul>
  <ul class="header__contact">
    <li class="header__contact-item header__contact-phone">
      <a href="tel:79008900846">8(900)890-08-46</a>
    </li>
    <li class="header__contact-item">
      <a href="/contact.html" class="btn">Contact Us</a>
    </li>
  </ul>
</header>